@import "https://fonts.googleapis.com/css2?family=Manrope&display=swap";
@import "https://use.typekit.net/csp0oom.css";
@import "https://fonts.googleapis.com/css2?family=Open+Sans&display=swap";


#root {
    width: 100%;
}

header {
    width: 100%
}

body {
    height: auto;
    margin: 0;
    background-blend-mode: multiply;
    background: linear-gradient(rgba(22, 23, 32, 1) 0%, rgba(30, 21, 57, 1) 143.69%) no-repeat fixed center;
    overflow-x: hidden;
    color: white;
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
}


nav {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    justify-content: space-between;
    margin-top: calc(3% + 2vh - 1vw);
    font-weight: 300;
    width: 100%;
    text-align: center;
}

nav a {
    font-weight: 300;
    color: #7D7D93;
    text-decoration: none;
    margin-left: 3.3vw;
    cursor: pointer;
}


#logo {
    position: absolute;
    display: flex;
    width: 7%;
    top: .5%;
    margin-top: 3.1vh;
    left: 15vw
}

/*MOVING NAVBAR TO TOP LEFT CORNER*/
nav {
    margin: 0;
    padding: 4px;
    text-align: left;
    border-bottom: 1px solid #555282;
}

nav a {
    font-size: 16px;

}
#active {
  color: #7364BF;
}
#signOutButton {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-family: arial, sans-serif;
    text-decoration: underline;
    cursor: pointer;
    position: absolute;
    right: 2em;
    top: 1em;
    color: #7D7D93;
}

.main {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;
    flex-direction: column;
}


/*fix this part*/
.top-bar {
    box-sizing: border-box;
    width: 80%;
    top: 10%;
    height: 4em;

    /*background: #252539;*/
    /*border: 1.2px solid #555282;*/
    border-radius: 10px;

    /*display: flex;*/
    /*justify-content: space-around;*/

    margin-top: 3em;
    margin-bottom: 1em;

    padding: 1em;
  height: min-content;
}

#start {
    background: #252539;
    border: 1.3px solid #555282;
    border-radius: 10px;

    padding: 1em;
    color: white;

}

#refreshPosts {
    background: #252539;
    border: 1.3px solid #555282;
    border-radius: 10px;

    padding: 1em;
    color: white;
}

#createPost {
    background: #252539;
    border: 1.3px solid #555282;
    border-radius: 10px;

    padding: 1em;
    color: white;
    margin-left: 1em;
}

.search-bar {
    float: right;
    background: #252539;
    border: 1.2px solid #555282;
    border-radius: 30px;

    color: white;
    width: 50%;
    padding: 1em;
}


/*POST CREATOR CSS*/
.post-creator {
    color: white;
  
}

#closePost {
    background: #252539;
    color: white;
    border-radius: 3px;
    border: 1.2px solid #555282;
    width: 40px;
    height: 40px;

}

#postTitle {
    background: #252539;
    border: 1.3px solid #555282;
    border-radius: 10px;

    padding-left: 1em;
    padding-right: 1em;
    color: white;
}

#postButton {
    background: #252539;
    border: 1.3px solid #555282;
    border-radius: 10px;

    padding: 1em;
    color: white;
}

/*END OF POST CREATOR CSS*/

.posts {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
  
}

.post {
    background: #252539;
    border: 1.2px solid #555282;
    border-radius: 10px;
  margin:1em;
    margin-bottom: 5%;
    padding: 2em 3em 3em;
  width: 650px;
  position:relative;
}

p {
    margin-top: -1em;
}

.replyInput {
    background: #48486D;
    border: 1px solid #7A77AA;
    border-radius: 5px;
    width: 70%;
    height: 1em;
    color: white;
    height: 2.7em;
}

.replySubmitButtons {
    margin-left: 1em;
    background: #48486D;
    border: 1px solid #7A77AA;
    border-radius: 5px;

    height: 3em;

    color: white;
}

h2 {
    font-size: 30px;
}

.post img {
    border: 1px solid #7A77AA;
    border-radius: 3px;
  height: 180px;
}

hr {
    width: 100%;
    color: #555282;
    align-self: center;
      margin-bottom: 2em;

}
#postCreator {
  display: none;
  width: 80vw;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background: #555282;
  top: 10vh;
  text-align: left;
      padding: 1em;
    border-radius: 10px;
  z-index:5;
}
#postTitle {

  font-size: 20px;
}
.editor-toolbar {
  background: white;
}
#email {
  display:none;
}
.commentPoster {
  font-style: italic;
  color: #bdbdbd;
}
.active {
  color: #7364BF;
}
#posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  
}

.delButton {
  background: #252539;
  border: 1.3px solid #555282;
  border-radius: 10px;
  padding: 1em;
  color: white;
  position: absolute;
  right: 3em;
  top: 3em;
}
.delButton:hover {
  background: #414162;
}
.delComButton {
  background: #252539;
  border: 1.3px solid #555282;
  border-radius: 10px;
  padding: 1em;
  color: white;
  margin: 5px 0;
}

.delComButton:hover {
  background: #414162;
}
.searchForm{
  display:inline;
}
.top-bar button:hover {
  background: #555282 !important;
}