body{
  font-family: 'Proxima Nova', sans-serif;
  font-style: normal;
}
.logo {
  width:16px;
  font-weight: bold;
}




.iframeThree, #threeloader{
  width:40vw;
  

} 
 .iframeThree{
   height:33vw;
 }
.iframeThree{
  visibility: hidden;
} 

.checkEmail {
  text-align:center;
  color:white;
}

